.PostInList {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: .5px solid grey;
    align-items: center;
}

.PostInList span {
    cursor: pointer;
    color: black;
}